@import '../../assets/_colors.css';

.card {
  width: 65px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 5px;

  /* DEBUG */
  padding: 5px;
  font-size: 8px;
  letter-spacing: 1px;
  word-break: break-all;

  &.stacked {
    margin-left: -60px;
  }

  &.red {
    background: $red;
  }
  &.orange {
    background: $orange;
  }
  &.yellow {
    background: $yellow;
  }
  &.green {
    background: $green;
  }
  &.blue {
    background: $blue;
  }
  &.purple {
    background: $purple;
  }
  &.black {
    background: $black;
  }
  &.white {
    background: $white;
  }
  &.wild {
    background: linear-gradient(122deg,
      $white 0%, $white 12.5%,
      $yellow 12.5%, $yellow 25%,
      $orange 25%, $orange 37.5%,
      $red 37.5%, $red 50%,
      $purple 50%, $purple 62.5%,
      $blue 62.5%, $blue 75%,
      $green 75%, $green 87.5%,
      $black 87.5%, $black 100%
    );
  }
  &.deck {
    border: 3px solid #795548;
    background-color: #8d6e63;
  }
  &.destination-deck {
    width: 100px;
    height: 65px;
    border: 3px solid #00695c;
    background-color: #00796b;
  }
}


.card.animate {
  position: fixed;
  z-index: 10;
  opacity: 0;
  box-shadow: 0 0.15em 0.3em 0 rgba(0, 0, 0, 0.16),
              0 0.15em 0.6em 0 rgba(0, 0, 0, 0.12);

  &.draw-card {
    animation: draw-card 1s;
    transform: rotate(90deg);
  }

  &.draw-destination {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    animation: draw-destination 1s;

    div,
    span {
      font-weight: 700;
      user-select: none;
    }
    div {
      margin-top: 3px;
      color: #b2dfdb;
      font-size: 10px;
    }
    span {
      color: #fff;
      font-size: 12px;
    }
  }
}


@keyframes draw-card {
  0% {
    opacity: 1;
  }
  20% {
    top: calc(50vh - 50px);
    left: calc(50% - 32.5px);
    transform: rotate(0) rotateY(180deg) scale(1.5, 1.5);
    animation-timing-function: ease-in;
  }
  80% {
    top: calc(50vh - 50px);
    left: calc(50% - 32.5px);
    opacity: 1;
    transform: rotate(0) rotateY(180deg) scale(1.5, 1.5);
  }
  100% {
    top: calc(100vh - 100px);
    left: calc(50% - 32.5px);
    opacity: 0;
    transform: rotate(0) rotateY(180deg) scale(1, 1);
    animation-timing-function: ease-out;
  }
}


@keyframes draw-destination {
  0% {
    opacity: 1;
  }
  20% {
    top: calc(50vh - 50px);
    left: calc(100% - 170px);
    transform: scale(1.5, 1.5);
    animation-timing-function: ease-in;
  }
  80% {
    top: calc(50vh - 50px);
    left: calc(100% - 170px);
    opacity: 1;
    transform: scale(1.5, 1.5);
  }
  100% {
    top: calc(100vh - 100px);
    left: calc(100% - 170px);
    opacity: 0;
    transform: scale(1, 1);
    animation-timing-function: ease-out;
  }
}
