$red: #f44336;
$orange: #ff9800;
$yellow: #ffeb3b;
$green: #4caf50;
$blue: #2196f3;
$purple: #9c27b0;
$black: #424242;
$white: #f5f5f5;
$wild-route: #90a4ae;
$wild-card: linear-gradient(123deg, #fff8e1 0%, #ffa000 50%, #ff8f00 51%, #fff8e1 100%);
